.form {
  width: 520px;
  min-width: 320px;
  padding: 30px;
  background-color: rgb(0, 21, 41);
  border-radius: 15px;
}
.form-item {
  color: white !important;
  font-family: Poppins !important;
}
.ant-form-item .ant-form-item-label > label {
  color: white !important;
  font-family: Poppins;
}

.banner-animation {
  animation-name: "banner";
  animation-duration: 1s;
}

@keyframes banner {
  0% {
    motion-rotation: 0deg;
  }
  25% {
    motion-rotation: 50deg;
  }
  75% {
    motion-rotation: 0deg;
  }
  100% {
    motion-rotation: 50deg;
  }
}
